.paper {
  padding: 30px;
  min-width: 550px;
  margin: 5%;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 5px 25px 2px rgba($color: #000000, $alpha: 0.3);
}

.flex-layout {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.data-box {
  width: 70%;
  padding: 10px;
  min-width: 500px;
  border: 1px solid black;
}

.menu-box {
  width: 30%;
  padding: 10px;
  min-width: 300px;
  border: 1px solid black;
}