@font-face {
  font-family: 'Comfortaa';
  src: url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&family=Roboto&display=swap');
}

* {
  font-family: 'Comfortaa', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
